{% extends "base.html" %} {% block title %} IOT Device Manager {% endblock title %} 
{% block content %} {% include "header.html" %} {% include "description.html" %}

<div class="blogs">
    <h1 class="title" style="padding-left: 3rem;">Devices for Tag #{{tags}}</h1>
    {% for device in devices %}
        <article class="blog">
            <h3 class="title">{{ device.title }}</h3>
            <a href="{% url 'device_detail' device.slug %}" class="button">Goto Space →</a>
        </article>
    {% endfor %}
</div>

{% endblock content %}
