{% extends "base.html" %} {% block title %} IOT Device Manager {% endblock title %} 
{% block content %} {% include "header.html" %} {% include "description.html" %}
<h1 class="title" style="padding-left: 3rem;">Search results :</h1>
<div class="blogs">
  {% for device in device_list %}
  <article class="blog">
    <h3 class="title">{{ device.title }}</h3>
    <p class="author">{{ device.author }} | {{ device.created_on }}</p>
    <a href="{% url 'device_detail' device.slug %}" class="button">Goto Device &rarr;</a
    >
  </article>
  {% endfor %}
</div>
{% if device_list.has_previous or device_list.has_next %}
<nav class="pagination">
  <ul>
    {% if device_list.has_previous %}
    <li><a href="?page={{ device_list.previous_page_number }}">&laquo;</a></li>
    {% endif %}
    <li>{{ device_list.number }}</li>
    {% if device_list.has_next %}
    <li><a href="?page={{ device_list.next_page_number }}">&raquo;</a></li>
    {% endif %}
  </ul>
</nav>
{% endif %} {% endblock content %}
